@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url("../fonts/Lato-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Kanit";
  font-weight: 100;
  src: url("../fonts/Kanit-Thin.ttf") format("opentype");
}

@font-face {
  font-family: "Kanit";
  font-weight: 400;
  src: url("../fonts/Kanit-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Kanit";
  font-weight: 500;
  src: url("../fonts/Kanit-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "Kanit";
  font-weight: 600;
  src: url("../fonts/Kanit-SemiBold.ttf") format("opentype");
}

@font-face {
  font-family: "Kanit";
  font-weight: 700;
  src: url("../fonts/Kanit-Bold.ttf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#1e1e1e];
}

p {
  @apply font-lato;
}

/* Scrollbar */
@layer components {
  .floating-scrollbar,
  .scroller {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
  /* Chrome, Brave, Edge, Safari */
  .floating-scrollbar::-webkit-scrollbar {
    width: 0.5em;
  }
  .floating-scrollbar:hover::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background: #1f1f1f;
  }

  .scroller::-webkit-scrollbar {
    width: 0em;
  }
  .scroller:hover::-webkit-scrollbar-thumb {
    background: transparent;
  }

  /* Firefox */
  .floating-scrollbar,
  .scroller {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  .floating-scrollbar:hover {
    scrollbar-color: #1f1f1f #1f1f1f;
  }
}
